@charset "UTF-8";

@font-face {
    font-family: 'porsche';
    src: url(fonts/porsche.ttf);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

:root {
    --fonte-principal: font-family: 'Poppins';

    --cor1: #C7C7C7;
    --cor2: #F01C00;
    --cor3: #C53421;
    --cor4: #9B4034;
    --cor5: #703F38;
    --cor6: #46312E;
    --cor7: #332B2B;
}

* {
    margin: 0px;
    padding: 0px;
    
}

header {
    height: 100vh;
    background-image: url(imagens/porsche-911.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px 0px black;

    .logo-letra {
        color: white;
        font-family: 'porsche';
        font-size: 2.1em;
        font-weight: lighter;
        text-align: center;
        padding-top: 20px;
        letter-spacing: 2px;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.503);
    }
}

main {
    font-family: var(--fonte-principal);
    padding-top: 5%;

    .boxes {
        background-color: black;
        display: flex;
        justify-content: center

        img {
            width: 400px;
            height: 250px;
            padding-left: 10px;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        .porsche2 {

            img {
                width: 800px;
                box-shadow: 0px 0px 2px 0px var(--cor5);
                border-radius: 10px;
                position: relative;
                left: 13vw; 

            }
    
        }

        .textocaixa {
            height: 450px;
            width: 400px;
            background-color: var(--cor7);
            color: white;
            border-radius: 5px;
            position: relative;
            left: 15vw;
            top: 20px;
            

            p {
                text-align: center;
                text-indent: 30px;
                word-spacing: 3px;
                padding: 20px;
                font-size: 1.7em;
                font-family: var(--fonte-principal);
                font-weight: lighter;
            }
        }

    }
}

footer {
    height: 300px;
    background-color: black;
    color: white;
}




